body {
    font-family: Arial, sans-serif;
    /* background-color: #f3f3f3; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.logo {
    margin-bottom: 20px;
}
.logo img {
    width: 120px;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: gray solid 1px;
    
    width: 100%;
    max-width: 350px;
}
h2 {
    color: #111;
    font-weight: normal;
    margin-bottom: 20px;
}
.box-input {
    margin-bottom: 15px;
}
.box-input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    /* color: #555; */
}
.box-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.box-input input:focus {
    border-color: #007185;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 113, 133, 0.4);
}
.password-info{
    width: 80%;
font-size: 14px;
}
.btn-creer {
    width: 100%;
    padding: 10px;
    background-color: #ffd814;
    border: none;
    border-radius: 30px;
    color: #111;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}
.btn-creer:hover {
    background-color: #ff8a00;
}
.termes {
    
    font-size: 12px;
    color: #111;
    margin-top: 40px;
}
.connecter {
    font-size: 14px;
    /* text-align: center; */
    margin-top: 20px;
}
.connecter p{
font-weight: bold;
}
.connecter a {
    font-weight: normal;
    color: #007185;
    text-decoration: none;
}
.connecter a:hover {
    text-decoration: underline;
}